@page
@model Application_Security_Assignment.Pages.ChangePasswordModel
@{
}


<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">Change Password</h3>
		
		<div class="card-text">
			<form method="POST">

				<div class="form-group">
					<label for="exampleInputEmail1">Change password</label>
					<input type="email" asp-for="Password" class="form-control form-control-sm" placeholder="Enter your password" style="margin-top: 30px;">
				</div>

				<button type="submit" class="btn btn-primary btn-block" style="margin-top: 30px;">Send password reset email</button>
			</form>
		</div>
	</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }