@page
@using Application_Security_Assignment.Data.Models;
@using Microsoft.AspNetCore.Identity;
@model Application_Security_Assignment.Pages.ChangePasswordModel
@inject UserManager<ApplicationUser> _userManager;
@{
	var user = await _userManager.GetUserAsync(User);
}


<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">Change Password</h3>
		
		<div class="card-text">
			<form method="POST">
				<div class ="text-danger" asp-validation-summary="All"></div>
				<div class="form-group">
					<label>Current Password</label>
					@if(user.PasswordHash is null)
					{
						<input type="password" asp-for="CurrentPassword" class="form-control form-control-sm" placeholder="You don't have a current password!" disabled style="margin-top: 30px;">
					} else
					{
		<input type="password" asp-for="CurrentPassword"  class="form-control form-control-sm" placeholder="Enter your current password" style="margin-top: 30px;">
					}

					<span asp-validation-for="CurrentPassword"></span>
					<input type="password" asp-for="NewPassword" class="form-control form-control-sm" placeholder="Enter your new password" style="margin-top: 30px;">
					<span asp-validation-for="NewPassword" class="text-danger"></span>
				</div> 

				<button type="submit" class="btn btn-primary btn-block" style="margin-top: 30px;">Change password</button>
			</form>
		</div>
	</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }