@page
@model Application_Security_Assignment.Pages.ChangePasswordModel
@{
}


<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">Change Password</h3>
		
		<div class="card-text">
			<form method="POST">
				<div class ="text-danger" asp-validation-summary="All"></div>
				<div class="form-group">
					<label>Current Password</label>
					<input type="password" asp-for="CurrentPassword" class="text-danger" class="form-control form-control-sm" class="form-control form-control-sm" class="form-control form-control-sm" class="form-control form-control-sm" placeholder="Enter your current password" style="margin-top: 30px;">
					<span asp-validation-for="CurrentPassword"></span>
					<input type="password" asp-for="NewPassword" class="form-control form-control-sm" placeholder="Enter your new password" style="margin-top: 30px;">
					<span asp-validation-for="NewPassword" class="text-danger"></span>
				</div> 

				<button type="submit" class="btn btn-primary btn-block" style="margin-top: 30px;">Change password</button>
			</form>
		</div>
	</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }