@page
@model Application_Security_Assignment.Pages.TwoFactorModel
@{
}

<form method="POST" asp-antiforgery="true">
    <div asp-validation-summary="All" class="text-danger"></div>


    <div class="form-outline mb-4">

        <label class="form-label" for="form1Example13">Two factor</label>
        <input asp-for="Token" class="form-control form-control-lg" />
        <span asp-validation-for="Token" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>